doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href='http://fonts.googleapis.com/css?family=Cabin:400,500,700|Exo:200,400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="./app/stylesheets/app.css")
    script(src="./app/javascripts/vendor.js")
    script(src="./app/javascripts/app.js")
    script
      require('initialize')
    block extra_head
  body
    div.container
      div.row-fluid
        h1 
          a(href="/") Youtube Comments Enabled!
      block content

script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38011017-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();