extends layout
block content

	iframe(src="http://www.youtube.com/embed/#{id}")

	div#disqus_thread

	script
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'commentyoutube'; // required: replace example with your forum shortname
		var disqus_identifier = 'cyt_#{id}';
		var disqus_url = 'http://comment-youtube.heroku.com/watch?v=#{id}'
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
