@import 'nib'


/////////////////////////////
// GLOBAL SETTINGS
/////////////////////////////

body
  color #444
  font-family 'Exo', sans-serif

h1:hover
  text-decoration: none
.container
  margin-top: 20px
  width: 900px

.video-frame
  margin-top: 10px
  margin-bottom: 20px